meta:
  engine: 4.1.0
# U: 19.05 # 19.05mm MX spacing
# u: 19 # 19mm MX spacing
# cx: 18 # 18mm Choc X spacing
# cy: 17 # 17mm Choc Y spacing
units:
  # Proxy Spacing Variables
  kx: U
  ky: U
  # Padding Variables
  P: 4
  px: kx + P
  py: ky + P

  mcux: 18
  mcuy: 36
  jacky: 6
  jackx: 14
  oledx: 12
  oledy: 5
  

points:
  zones:
    pinky:
      anchor:
        rotate: 5
        shift: [50,-100] # Fix KiCad placement
      columns:
        outer:
          key.column_net: P4
          rows.bottom.skip: true
          # key.stagger: 19
        innerp:
          key.column_net: P5
          key.stagger: 0.25ky
      rows:
        bottom:
          padding: ky
          row_net: P16
        home:
          padding: ky
          row_net: P14 
        top:
          padding: ky
          row_net: P15
    matrix:
      anchor:
        ref: pinky_innerp_bottom
        shift: [20, 0]
      columns:
        ring:
          key.column_net: P6 
          key.splay: -5
          key.stagger: 0.66ky
        middle:
          key.column_net: P7
          key.stagger: 0.25ky
        index:
          key.column_net: P8
          key.stagger: -0.45ky
        inner:
          key.column_net: P9
          key.stagger: -0.15ky
      rows:
        bottom:
          padding: ky
          row_net: P16
        home:
          padding: ky
          row_net: P14
        top:
          padding: ky
          row_net: P15
    thumb_top:
      anchor:
        ref: matrix_index_bottom
        # shift: [0.66U, -1.25U]
        shift: [.8kx, -1.3ky]
        rotate: -20
      columns:
        outer_top:
          key.column_net: P4
          key.spread: ky
        middle_top:
          key.column_net: P5
          key.spread: ky
      rows:
        row:
          row_net: P10

    thumb_bottom:
      anchor:
        ref: thumb_top_outer_top_row
        shift: [0, -ky]
      columns:
        outer_bottom:
          key.column_net: P6
          key.spread: ky
        middle_bottom:
          key.column_net: P7
          key.spread: ky
        inner:
          key.column_net: P8
          key.name: thumb_inner
          key.spread: 1.2kx
          # key.stagger: -0.7ky
          # rows.top.skip: true
          key.width: 1.5kx
          # key.rotate: 90
          key.splay: 90
          key.shift: [0,0]
          # key.splay: -15
          # key.origin: [-0.5kx, -0.5ky]
      rows:
        row:
          row_net: P10

outlines:
  raw:
    - what: rectangle
      where: true
      bound: true
      size: [px, py]
  keys:
    - what: rectangle
      where: true
      bound: false
      size: [kx-0.5,ky-0.5]
  board:
    - what: polygon
      operation: stack
      points:
        ## pinky top
        - ref: pinky_outer_top
          shift: [-0.5px, 0.5py]
        - ref: pinky_outer_top
          shift: [0.5px - 1.5P, 0.5py]
        - ref: pinky_innerp_top
          shift: [-0.5px + 0.5P, 0.5py]
        - ref: pinky_innerp_top
          shift: [0.5px-P, 0.5py]

        ## matrix top
        - ref: matrix_ring_top
          shift: [-0.5px,0.5py-0.66ky+P]
        - ref: matrix_ring_top
          shift: [-0.5px,0.5py]
        - ref: matrix_ring_top
          shift: [0.5px - 1.5P, 0.5py]

        - ref: matrix_middle_top
          shift: [-0.5px + 0.5P, 0.5py]
        - ref: matrix_middle_top
          shift: [0.5px, 0.5py]
        # - ref: matrix_middle_top
        #   shift: [0.5px+0.5,0.5py-0.5P]
        # - ref: matrix_middle_top
        #   shift: [0.5px+0.5,0.5py]

        - ref: matrix_index_top
          shift: [-0.5px + 1P, 0.5py]
        - ref: matrix_index_top
          shift: [0.5px, 0.5py]

        - ref: matrix_inner_top
          shift: [-0.5px + 1P, 0.5py]
        - ref: matrix_inner_top
          shift: [0.5px + mcux + P + 1, 0.5py]
        - ref: matrix_inner_top
          shift: [0.5px + mcux + P + 1, 0.5py - 12]
        - ref: matrix_inner_top
          shift: [0.5px + mcux + 0.5P, 0.5py - 17]

        ## mcu bottom 
        - ref: matrix_inner_top
          shift: [0.5px + mcux + 0.5P, 0.5py - mcuy - 4.5P ]
        - ref: matrix_inner_top
          shift: [0.5px , 0.5py - mcuy - 4.5P]
        - ref: matrix_inner_bottom
          shift: [0.5px , -0.5py]

        ## thumb top
        - ref: thumb_top_middle_top_row
          shift: [-0.5px + 2P,0.5py]
        - ref: thumb_top_middle_top_row
          shift: [0.5px, 0.5py]
        - ref: thumb_top_middle_top_row
          shift: [0.5px, 0.5py - 7]

        ## joystick
        # shift y w teorii (0.5py + ((1.5kx-kx)/2))
        # ale joystick ma 26 mm szerokości
        - ref: thumb_inner
          orient: -90 # thumb_inner is rotated
          shift: [-0.5px + 5, 13 + P]
        - ref: thumb_inner
          orient: -90 # thumb_inner is rotated
          shift: [0.5px, 13 + P]
        - ref: thumb_inner
          orient: -90 # thumb_inner is rotated
          shift: [0.5px, -(13 + P)]
        - ref: thumb_inner
          orient: -90 # thumb_inner is rotated
          shift: [-0.5px + P/2, -(13 + P)]

        ## thumb cluster bottom
        - ref: thumb_bottom_middle_bottom_row
          shift: [0.5px - P/2,-0.5py]
        - ref: thumb_bottom_outer_bottom_row
          shift: [-0.5px , -0.5py]
        - ref: thumb_bottom_outer_bottom_row
          shift: [-0.5px - P , -0.5py + P]

        ## pinky bottom
        - ref: pinky_innerp_bottom
          shift: [-0.5px,-0.5py]
        - ref: pinky_outer_home
          shift: [0.5px - P,-0.5py - P]
        - ref: pinky_outer_home
          shift: [0.5px - 2P,-0.5py]
        - ref: pinky_outer_home
          shift: [-0.5px,-0.5py]
      fillet: 0
  combo:
    - name: board
    - operation: subtract
      name: keys



pcbs:
  ergofunctor:
    template: kicad8
    outlines:
      main:
        outline: board
    footprints:
      # TODO: dodać logo LAG (pingwinek) (patrz josukey)
      # TODO: dodać napis LAG
      keys:
        # what: mx
        what: switch_mx
        where: 
          - /matrix/
          - /pinky/
          - /thumb_top/
          - /thumb_bottom/
          - /thumb_inner/
        params:
          from: "{{column_net}}"
          to: "{{colrow}}"
          include_keycap: true
          hotswap_pads_same_side: true
          include_traces_vias: true
          reversible: true
          hotswap: true
      diode:
        what: diode_tht_sod123
        where: true
        params:
          reversible: true
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]

      diode-key-route:
        what: utility_router
        where: true
        params:
          route: "f(-5.842 -5.08) (-6.5 -4) (-6.5 2) (-6 2.5) (1.2 2.5) (1.7 3) (1.7 5)"

      # mcu:
      #   # TODO: zmienić napisy z footprintu: promicro -> ergofunctor
      #   what: promicro_pretty
      #   params:
      #     # orientation: "down"
      #     # label: false 
      #     # instructions: false 
      #     reversable_pins: 13
      #   # TODO: poprwaić placement
      #   where:
      #     - ref: matrix_inner_top
      #       # te 2.5 bo ten footprint dodaje napis nad MCU
      #       shift: [0.5px + 0.5mcux, -0.5mcuy + 0.5ky + 2.5] 
      #       # rotate: -90
      mcu:
        what: mcu_supermini_nrf52840
        params:
          # orientation: "down"
          # reversable_pins: 13
          reversible: true
          reverse_mount: false
          show_instructions: false
        where:
          - ref: matrix_inner_top
            # te 2.5 bo ten footprint dodaje napis nad MCU
            shift: [0.5px + 0.5mcux, -0.5mcuy + 0.5ky + 2.5] 
            # rotate: -90

      reset: 
        what: wuerth-434121025816 
        params:
          r1: RST
          r2: GND
        where:
          ref: matrix_inner_top
          shift: [0.5px + 0mcux + 2, -mcuy]
          rotate: -90

      on_off_switch:
        what: pcm12
        params:
          from: sw1
          to: RAW
        where:
          ref: matrix_inner_top
          shift: [0.5px + mcux + 3, 5]
          rotate: 90

      battery_connector:
        what: jst-s2b-ph-kl
        params:
          neg: GND
          pos: sw1
        where:
          ref: matrix_inner_top
          # shift: [0.5px + mcux, -mcuy + 0.5ky - 0.5oledy - 1]
          shift: [0.5px + 0.5mcux, -mcuy]
          rotate: 90

      oled:
        what: oled_rev
        params:
          reverse: true
          SDA: P2
          SCL: P3
          # CS: ""
        where:
          ref: matrix_inner_top
          shift: [0.5px + 0.5mcux, -mcuy - 5]
          rotate: 180

      # https://www.adafruit.com/product/5628
      joystick_left:
        what: joystick_left
        params:
          AD1: P21
          AD2: P20
          SW0: P8
          SW1: inner_rowb
        where:
          ref: thumb_inner
          shift: [-9, -8]
      joystick_right:
        what: joystick_right
        params:
          AD1: P21
          AD2: P20
          SW0: P8
          SW1: inner_rowb
        where:
          ref: thumb_inner
          shift: [9, -8]
          # rotate: -90
          # shift: [7 + 8, 0]
          # shift: [19, 0]

      mhole_pinky:
        what: mounting_hole_plated
        where:
          # ref.aggregate.parts: [pinky_outer_home,pinky_innerp_top]
          ref.aggregate.parts: [pinky_outer_top,pinky_innerp_home]

      mhole_index:
        what: mounting_hole_plated
        where:
          ref.aggregate.parts: [
            matrix_inner_top,
            matrix_index_home
          ]

      mhole_middle_up:
        what: mounting_hole_plated
        where:
          ref.aggregate.parts: [
            matrix_ring_top,
            matrix_middle_home
          ]

      mhole_middle_down:
        what: mounting_hole_plated
        where:
          ref.aggregate.parts: [
            matrix_ring_bottom,
            matrix_middle_bottom
          ]
          shift: [0,-0.5ky]

      mhole_thumb:
        what: mounting_hole_plated
        where:
          ref.aggregate.parts: [
            thumb_top_middle_top_row,
            thumb_bottom_middle_bottom_row,
            thumb_top_outer_top_row,
            thumb_bottom_outer_bottom_row
          ]
 
      # mhole3:
      #   what: mounting_hole_plated
      #   where:
      #     ref.aggregate.parts: [matrix_inner_num, matrix_index_top]
      # mhole4:
      #   what: mounting_hole_plated
      #   where:
      #     ref.aggregate.parts: [matrix_outer_bottom, matrix_pinky_home]
      # mhole5:
      #   what: mounting_hole_plated
      #   where:
      #     ref.aggregate.parts: [matrix_middle_bottom, matrix_index_home]
      # mhole6:
      #   what: mounting_hole_plated
      #   where:
      #     ref.aggregate.parts: [thumb_top_middle_rowt, thumb_bottom_middle_rowb]
     
      # Poki co trrs nie jest używany 
      # czy ktoś będzie chiał mieć wired wersje
      # a może po prostu druga wersja pcb
      # jack: 
      #   what: trrs
      #   params:
      #     reverse: true
      #     A: ""
      #     B: ""
      #     C: ""
      #     D: ""
      #   where:
      #     ref: matrix_inner_top
      #     shift: [0.5px + mcux, -mcuy + 0.5ky - oledy - 0.5jacky - P ]
      #     rotate: -90

      
      # NOT TESTED OCULUS JOYSTICK
      # 23 mm między dziórkami
      # 7 mm długość paska od listwy
      # 13 mm od siebie po 1 mm 
      # nad i pod thumb_inner
      # https://www.amphenol-cs.com/product/sfv5r4ste1hlf.html
      # flex_connector:
      #   what: AMPHENOL_SFV5R-4STE1HLF
      #   params:
      #     x_axis: P21
      #     y_axis: P20
      #     SW: P19
      #   where:
      #     ref: thumb_inner
      #     rotate: -90
      #     # shift: [7 + 8, 0]
      #     shift: [19, 0]
      #
      # mhole_joystick_0:
      #   what: mounting_hole_plated
      #   params:
      #     drill: 1.2
      #   where:
      #     ref: thumb_inner
      #     shift: [0, -11.5]
      #
      # mhole_joystick_1:
      #   what: mounting_hole_plated
      #   params:
      #     drill: 1.2
      #   where:
      #     ref: thumb_inner
      #     shift: [0, 11.5]
